# Ambientes virtuais
venv/
env/

# Arquivos compilados do Python
__pycache__/
*.py[cod]

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Configurações do VS Code
.vscode/

# Imagens e vídeos de teste
tests/media/
*.mp4
*.png
*.jpg